@model AdminGenreEditViewModel
<h1>edit genre</h1>
<hr>
@* asp-action="UpdateGenre" asp-controller="Admin" *@
<form action="/Admin/UpdateGenre" method="post">

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">submit</button>
        </div>
        <div class="col-md-9">
            <table class="table table-striped table-hover tabel-bordered">
                <thead>
                    <tr>
                        <th>Remove</th>
                        <th>#</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Genres</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movie in Model.Movies)
                    {
                        <tr>
                            <td><input type="checkbox" name="movieIds" value="@movie.MovieId" class="form-check-input"></td>
                            <td>@movie.MovieId</td>
                            <td><img width="80" src="~/img/@movie.ImageUrl" alt=""></td>
                            <td>@movie.Title</td>

                            <td>
                                <a href="/admin/movieUpdate/@movie.MovieId" class="btn btn-primary btn-sm">Update</a>
                                @* <form asp-action="DeleteGenre" asp-controller="Admin" class="d-inline" method="post">
                                    <input type="hidden" name="GenreId" value="@genre.GenreId">
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                </form> *@
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</form>