<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-danger border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a href="/" class="navbar-brand" >movieApp_Web</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a href="/Movie/List" class="nav-link text-dark active " >Movie</a>
                </li>
                 <li class="nav-item">
                    <a href="/Admin/MovieCreate" class="nav-link text-dark" >Admin Create Movie</a>
                </li>
                  <li class="nav-item">
                    <a href="/Admin/MovieList" class="nav-link text-dark" >Admin Movies</a>
                </li>
                    <li class="nav-item">
                    <a href="/Admin/GenreList" class="nav-link text-dark" >Admin Genres</a>
                </li>
            </ul>
        </div>
        <form action="/Movie/List" method="get" class="d-flex">
            <input type="text" name="q" class="form-control me-2">
            <button type="submit" class="btn btn-outline-light ms-0">Bul</button>
        </form>
    </div>
</nav>