@using movieApp_Web.Models
@model HomePageViewModel

@{
  ViewData["Title"] = "Home Index Page";
}

@section _header {
  @await Html.PartialAsync("_headers")
}
@if (Model.PopulerMovies.Count() > 0)
{


  <h2> Film listesi</h2>
  <div id="filmler">
    @foreach (var item in Model.PopulerMovies)
    {
      @await Html.PartialAsync("_movie", item)
    }
  </div>
}
else
{
  <div class="alert alert-warning">
    film bulunamadı
  </div>
}